/* You can add global styles to this file, and also import other style files */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li>a:hover {
    background-color: #111;
}

div.round1 {
    border: 2px solid black;
    border-radius: 5px;
}