<ul class="nav">
    <li class="nav" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]'>
            <span class='glyphicon glyphicon-home'></span> Home
        </a>
    </li>
    <li class="nav" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/search"]'>
            <span class='glyphicon glyphicon-search'></span> Search
        </a>
    </li>
    <li class="nav" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/fetch-data"]'>
            <span class='glyphicon glyphicon-th-list'></span> Fetch data
        </a>
    </li>
</ul>

<br/>

<div class="page-header">
    <h2>Search</h2>
    <p>Find images using Bing Image Cognitive Search.</p>
    <div class="form-group">
        <div class="col-sm-4">
            <input type="text" id="searchInput" size="20" #searchInput>
            <button type="submit" class="btn btn-default" (click)="search(searchInput.value)">Search</button>
        </div>
    </div>
</div>
<div *ngIf="searchResults">
    <h2><b>Selected Photo</b></h2>
    <div class="results">
        <div *ngIf="currentAnalytics || isAnalyzing">
            <div class="currentItem card" >
                <img height="100px" width="100px" src="{{currentItem?.thumbnailUrl}}" />
                <div *ngIf="!isAnalyzing">
                    <h4><b>{{currentAnalytics?.description.captions[0].text}}</b></h4>
                    <div>
                        <span class="tag label" [ngClass]="{'label-default': tag.confidence >= .75, 'label-warning': tag.confidence >= .5 && tag.confidence < .75, 'label-danger': tag.confidence < .5}" *ngFor="let tag of currentAnalytics?.tags">{{tag.name}}</span>
                    </div>
                </div>
                <div *ngIf="isAnalyzing">
                    <h4>Analyzing Photo</h4>
                </div>
            </div>
        </div>
    </div>
    <h4 class="no-results" *ngIf="!currentAnalytics && !isAnalyzing">Select a photo to analyze it.</h4>
</div>
<br/>
<br/>
<h2><b>Search Results</b></h2>
<div class="results" *ngIf="searchResults">
    <div *ngFor="let result of searchResults" (click)="analyze(result)" class="card">
        <img width="100px" src="{{result?.thumbnailUrl}}" />
    </div>
</div>
<h4 class="no-results" *ngIf="!searchResults && !isSearching">Search for images to display results here.</h4>
<h4 class="no-results" *ngIf="isSearching">Loading Search Results...</h4>