<ul class="nav">
    <li class="nav" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]'>
            <span class='glyphicon glyphicon-home'></span> Home
        </a>
    </li>
    <li class="nav" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/search"]'>
            <span class='glyphicon glyphicon-search'></span> Search
        </a>
    </li>
    <li class="nav" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/fetch-data"]'>
            <span class='glyphicon glyphicon-th-list'></span> Fetch data
        </a>
    </li>
</ul>

<br/>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
