<ul class="nav">
    <li class="nav" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]'>
            <span class='glyphicon glyphicon-home'></span> Home
        </a>
    </li>
    <li class="nav" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/search"]'>
            <span class='glyphicon glyphicon-search'></span> Search
        </a>
    </li>
    <li class="nav" [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/fetch-data"]'>
            <span class='glyphicon glyphicon-th-list'></span> Fetch data
        </a>
    </li>
</ul>

<br/>

<h2>Hello from the Martinez Family!</h2>
<img src='./assets/estes-martinez-fam.JPG'>

<br/>



<div class="round1">
  <h3>Contact:</h3>
  <p> Developer: Alex Martinez</p>
  <p> Email: <a href="mailto:alexander.martinez@colorado.edu?Subject=MartinezAzureToolkit" target="_top">alexander.martinez@colorado.edu</a></p>
</div>


<br/>

<div class="round1">
  <h3>This page is built with:</h3>
  <p><a href='http://edx.org/'>edx.org</a> training course for Microsoft Azure <a href='https://www.edx.org/course/building-your-azure-skills-toolkit-1'>Azure Toolkit</a></p>
  <p><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/pbrary/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</p>
  <p><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for cpent-side code</p>
  <p><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and stypng</p>
</div>
